.topheader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content space-brtween;
  padding: 0 20px;
  80px: 80 / 16 = 5rem
}

.Menu-Horizontal{
  list-style nome;
  display: flex;
  justify-content: space - around;
  width: 100%;   
}

.Menu-Horizontal li a {
  text-decoration: nome;
  padding: 15px 20px
  colo: blue;
}
.Menu Vertical{
  padding: 0;
  position: absolute;
  display: nome;
  width: 200px;
  list-style: nome;
  color: black
}
